@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* border: 3px solid rgb(0, 255, 242); border: 3px solid yellow; border: 3px solid rgb(43, 255, 0);*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul{list-style: none;}

body{  height: 2000px;    background-color: #a6d0f3;}

.nav1{
    background-color: #192F59;
    padding: 10px 8%;
    display: inline-block;
}

.wrapper{    position: relative;}

.nav1_links{
    float: right;    display: flex;}

.nav1_links li a{
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    border-left: 1px solid #1e4d75;
}

.nav1_links a:hover{    background-color: #004d40;}

.nav1_links .dropdown{  position: relative;    display: inline-block;}

.nav1_links .drop-menu{
    display: none;
    position: absolute;
    min-width: 270px;
    padding: 7px 13px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    margin-top: 10px;
    right: 0;
    background-color: #f1f1f1;
    z-index: 10;
    transition: all 0.2s ease;
}

.drop-menu li a{
    color: #163269;
    font-size: 14px;
    display: block;
    padding: 7px 13px;
    border: none;
    border-bottom: 1px solid #1e4d75;
}

.drop-menu li a:hover{
    color: #f1f1f1;
    background-color: #004d40;
}

.dropdown:hover .drop-menu{
    display: block;
}

.mega-menu{
    position: absolute;   
    left: 0;    right: 0; 
    margin: 10px 20px 0 20px;
    background-color: #e6e2e2;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}

.mega-content{ 
    display: flex;
    justify-content: space-between;
}

.sub-menu{ 
    width: 100%;
    padding: 25px 10px;
    border-left: 1px solid #b4b4b4;
}

.sub-menu p a{
    display: flex;
    margin-bottom: 17px;
    color: #fff;
    background-color: #192F59;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-bottom: 5px solid #004d40;
    padding: 6px 12px;
    border-radius: 10px 10px 0 0;
}

.mega-links li a {
    padding: 4px 12px;
    color: #585858;
    font-size: 14px;
    display: block;
    border: none;
    border-bottom: 1px solid #b4b2b2;
}

.container{
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
}

.form-grp{
    margin-bottom: 15px;
}

.form-grp label{
    font-size: 14px;
    color: #122958;
    font-weight: bold;
}

.form-grp .form-control{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(118, 118, 118);
    padding: 0px 5px;
    cursor: text;
}

.container form .btn{
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    color: #fff;
    background-color: #004d40;
    cursor: pointer;
    border: 0;
    padding: 5px 0;
}

.ball{
    height: 13px;    width: 13px;    border-radius: 50%;    background-color: #f4fb4f;
    display: inline-block;
}

.ball-inside{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #192f59;
    position: absolute;
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
}

.scroll-text{    display: flex;    padding-right: 8px;}

.scroll-text a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4fb4f;
    font-size: 16px;
    padding-right: 25px; /*after each lik tag space*/

}

.nav2{
    background-color: rgb(255, 255, 255);    display: flex;    justify-content: flex-end;
    align-items: center;
    padding: 15px 8%;
}

.logo{
    font-size: 14x;
    margin-right: auto;
}

.logo img {
    width: 300px;
    height: 60px;
}

.nav_sec{
    position: relative;
}
.nav_sec li{
    display: inline;
    padding: 0px 5px;
}

.nav_sec > ul > li > a{
    text-decoration: none;    color: #192F59;    font-size: 16px;
    font-weight: 450;
    padding: 0px 5px;
    position: relative;
}

.nav_sec > ul > li > a::after{
    content: '';    height: 5px;    width: 100%;    background-color: #004d40;
    position: absolute; /*block element by default*/
    left: 2px;
    bottom: -36px;
    opacity: 0;
    transition: all 0.1s linear 0s;
}

.nav_sec > ul > li > a:hover::after{
    color: #014439;
    opacity: 1;
}

#helpdesk{
    background-color: #192F59;
    color: #ffffff;
    padding: 5px 5px;
    font-size: 15px;
}

.menu{
    position: absolute;
    background-color: #fff;
    z-index: 99;
    left: 10%;
    margin-top: 35px;
    min-width: 200px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
}

.menu-links li{display: block;}

.menu-links li a{
    text-decoration: none;
    padding: 6px 30px 6px 12px;
    color: #585858;
    font-size: 14px;
    display: block;
    margin-bottom: 1px;
    border-bottom: 1px solid #b4b2b2;
}

.dropbtn {
    color: aliceblue;
    background-color: transparent;
    position: relative;
    /* border: none; */
    cursor: pointer;
    padding-right: 20px;
}
.dropbtn i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.drop-menu1{
    display: none;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    position: absolute;
    left: 100%;
    top: 230px;
    margin-top: 5px;
    background-color: #d1d1d1;
    width: 300px;
    z-index: 10;
transition: all 0.2s ease;}

.menu ul li:hover .drop-menu1 {
    display: block;
}

.mega-menu li a:hover, .menu li a:hover, .drop-menu1 a:hover{
    color: #f1f1f1;
    background-color: #004d40;
}

.user:hover .container, .mega-box:hover .mega-menu, .about:hover .menu{
    opacity: 1;
    visibility: visible;
}
